{%- for host in ssh_config.hosts | default([]) %}
Host {{ host.name }}
{% if host.raw is defined %}
  {{ host.raw }}
{% endif %}
{%- if host.user is defined %}
  User {{ host.user }}
{% endif %}
{% for scm in ssh_config_maps %}
{%- if host[scm] is defined %}
{%- for k, v in host[scm].items() %}
  SendEnv {{ k }} {{ v }}
{% endfor %}
{% endif %}
{% endfor %}

{%- for scv in ssh_config_vals %}
{%- if host[scv] is defined %}
  {{ scv }} {{ host[scv] }}
{% endif %}
{% endfor %}

{%- if host.proxy is defined %}
  ProxyCommand {{ host.proxy.cmd }} {{ host.proxy.host }} {{ host.proxy.port }}
{% endif %}
{% endfor %}
